In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the Data 
eData = pd.read_csv('data.csv')
eData

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [3]:
#1 Determine the no. of rows and no. of columns in the dataset
eData.shape
# no. of rows and no. of columns  are  23678, 21

(23678, 21)

In [4]:
#2 Display the datatypes of each column.
eData.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [5]:
#2 Display the datatypes of each column.
eData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23678 entries, 0 to 23677
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         23547 non-null  object
 1   Address        23547 non-null  object
 2   Rooms          23547 non-null  float64
 3   Type           23547 non-null  object
 4   Price          18396 non-null  float64
 5   Method         23547 non-null  object
 6   SellerG        23547 non-null  object
 7   Date           23547 non-null  object
 8   Distance       23546 non-null  float64
 9   Postcode       23546 non-null  float64
 10  Bedroom2       19066 non-null  float64
 11  Bathroom       19063 non-null  float64
 12  Car            18921 non-null  float64
 13  Landsize       17410 non-null  float64
 14  BuildingArea   10018 non-null  float64
 15  YearBuilt      11540 non-null  float64
 16  CouncilArea    15656 non-null  object
 17  Lattitude      19243 non-null  float64
 18  Longtitude     19243 non-null  float64
 19  Regionname     23546 non-null  object
 20  Propertycount  23546 non-null  float64
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

In [6]:
#3) Determine the row indexes of rows having all null values (i.e. empty rows).
for i in eData.isnull()==True:
    print("null values in : "+ i )
    print(eData.index[eData[i].isnull()])

null values in : Suburb
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Address
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Rooms
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Type
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Price
Int64Index([    0,     3,     7,     8,     9,    12,    13,    20,    31,
               32,
            ...
            23638, 23647, 23651, 23653, 23659, 23660, 23661, 23664, 23673,
            23674],
           dtype='int64', length=5282)
null values in : Method
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : SellerG
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Date
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Distance
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Postcode
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Bedroom2
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23584, 23589, 23603, 23614, 23626, 23630, 23633, 23639, 23662,
            23674],
           dtype='int64', length=4612)
null values in : Bathroom
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23584, 23589, 23603, 23614, 23626, 23630, 23633, 23639, 23662,
            23674],
           dtype='int64', length=4615)
null values in : Car
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23602, 23603, 23614, 23626, 23630, 23633, 23636, 23639, 23662,
            23674],
           dtype='int64', length=4757)
null values in : Landsize
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23659, 23661, 23662, 23664, 23665, 23667, 23671, 23674, 23675,
            23677],
           dtype='int64', length=6268)
null values in : BuildingArea
Int64Index([    0,     1,     3,     5,     8,     9,    10,    15,    16,
               17,
            ...
            23660, 23661, 23662, 23664, 23666, 23667, 23668, 23670, 23674,
            23675],
           dtype='int64', length=13660)
null values in : YearBuilt
Int64Index([    0,     1,     3,     5,    10,    15,    16,    17,    19,
               21,
            ...
            23655, 23659, 23660, 23661, 23662, 23664, 23666, 23667, 23674,
            23675],
           dtype='int64', length=12138)
null values in : CouncilArea
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23668, 23669, 23670, 23671, 23672, 23673, 23674, 23675, 23676,
            23677],
           dtype='int64', length=8022)
null values in : Lattitude
Int64Index([   15,    16,    19,    21,    22,    27,    31,    34,    35,
               46,
            ...
            23573, 23577, 23580, 23584, 23603, 23626, 23630, 23633, 23639,
            23662],
           dtype='int64', length=4435)
null values in : Longtitude
Int64Index([   15,    16,    19,    21,    22,    27,    31,    34,    35,
               46,
            ...
            23573, 23577, 23580, 23584, 23603, 23626, 23630, 23633, 23639,
            23662],
           dtype='int64', length=4435)
null values in : Regionname
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Propertycount
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)

In [7]:
# 4) Determine the total number of empty rows and their percentage in whole dataset and remove them.

percent_missing = eData.isnull().sum() * 100 / len(eData)
missing_value_df = pd.DataFrame({'column_name': eData.columns,'empty rows' :eData.isnull().sum(),
                                 'percent_emptyrows': percent_missing})

print(missing_value_df)

                 column_name  empty rows  percent_emptyrows
Suburb                Suburb         131           0.553256
Address              Address         131           0.553256
Rooms                  Rooms         131           0.553256
Type                    Type         131           0.553256
Price                  Price        5282          22.307627
Method                Method         131           0.553256
SellerG              SellerG         131           0.553256
Date                    Date         131           0.553256
Distance            Distance         132           0.557480
Postcode            Postcode         132           0.557480
Bedroom2            Bedroom2        4612          19.477996
Bathroom            Bathroom        4615          19.490666
Car                      Car        4757          20.090379
Landsize            Landsize        6268          26.471830
BuildingArea    BuildingArea       13660          57.690683
YearBuilt          YearBuilt       12138          51.262776
CouncilArea      CouncilArea        8022          33.879551
Lattitude          Lattitude        4435          18.730467
Longtitude        Longtitude        4435          18.730467
Regionname        Regionname         132           0.557480
Propertycount  Propertycount         132           0.557480

In [8]:
# removing null values 
eDataNotNull= eData.dropna(how='any',axis=0)
eDataNotNull.isnull().sum()>0

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [9]:
# 5)Determine the column names having missing values.

eData.columns[eData.isnull().any()].tolist()

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [10]:
# 6 ) Determine the missing values and their percentage in each column.
percent_missing = eData.isnull().sum() * 100 / len(eData)
missing_value_df = pd.DataFrame({'column_name': eData.columns,'empty rows' :eData.isnull().sum(),
                                 'percent_emptyrows': percent_missing})

print(missing_value_df)

                 column_name  empty rows  percent_emptyrows
Suburb                Suburb         131           0.553256
Address              Address         131           0.553256
Rooms                  Rooms         131           0.553256
Type                    Type         131           0.553256
Price                  Price        5282          22.307627
Method                Method         131           0.553256
SellerG              SellerG         131           0.553256
Date                    Date         131           0.553256
Distance            Distance         132           0.557480
Postcode            Postcode         132           0.557480
Bedroom2            Bedroom2        4612          19.477996
Bathroom            Bathroom        4615          19.490666
Car                      Car        4757          20.090379
Landsize            Landsize        6268          26.471830
BuildingArea    BuildingArea       13660          57.690683
YearBuilt          YearBuilt       12138          51.262776
CouncilArea      CouncilArea        8022          33.879551
Lattitude          Lattitude        4435          18.730467
Longtitude        Longtitude        4435          18.730467
Regionname        Regionname         132           0.557480
Propertycount  Propertycount         132           0.557480

In [11]:
#7) Determine the row indexes having missing values.
for i in eData.isnull()==True:
    print("null values in : "+ i )
    print(eData.index[eData[i].isnull()])

null values in : Suburb
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Address
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Rooms
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Type
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Price
Int64Index([    0,     3,     7,     8,     9,    12,    13,    20,    31,
               32,
            ...
            23638, 23647, 23651, 23653, 23659, 23660, 23661, 23664, 23673,
            23674],
           dtype='int64', length=5282)
null values in : Method
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : SellerG
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Date
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)
null values in : Distance
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Postcode
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Bedroom2
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23584, 23589, 23603, 23614, 23626, 23630, 23633, 23639, 23662,
            23674],
           dtype='int64', length=4612)
null values in : Bathroom
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23584, 23589, 23603, 23614, 23626, 23630, 23633, 23639, 23662,
            23674],
           dtype='int64', length=4615)
null values in : Car
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23602, 23603, 23614, 23626, 23630, 23633, 23636, 23639, 23662,
            23674],
           dtype='int64', length=4757)
null values in : Landsize
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23659, 23661, 23662, 23664, 23665, 23667, 23671, 23674, 23675,
            23677],
           dtype='int64', length=6268)
null values in : BuildingArea
Int64Index([    0,     1,     3,     5,     8,     9,    10,    15,    16,
               17,
            ...
            23660, 23661, 23662, 23664, 23666, 23667, 23668, 23670, 23674,
            23675],
           dtype='int64', length=13660)
null values in : YearBuilt
Int64Index([    0,     1,     3,     5,    10,    15,    16,    17,    19,
               21,
            ...
            23655, 23659, 23660, 23661, 23662, 23664, 23666, 23667, 23674,
            23675],
           dtype='int64', length=12138)
null values in : CouncilArea
Int64Index([   15,    16,    19,    21,    22,    26,    27,    31,    34,
               35,
            ...
            23668, 23669, 23670, 23671, 23672, 23673, 23674, 23675, 23676,
            23677],
           dtype='int64', length=8022)
null values in : Lattitude
Int64Index([   15,    16,    19,    21,    22,    27,    31,    34,    35,
               46,
            ...
            23573, 23577, 23580, 23584, 23603, 23626, 23630, 23633, 23639,
            23662],
           dtype='int64', length=4435)
null values in : Longtitude
Int64Index([   15,    16,    19,    21,    22,    27,    31,    34,    35,
               46,
            ...
            23573, 23577, 23580, 23584, 23603, 23626, 23630, 23633, 23639,
            23662],
           dtype='int64', length=4435)
null values in : Regionname
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)
null values in : Propertycount
Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=132)

In [12]:
#8)Determine the missing values and their percentage in each row. 
eData['RowMissingCount']=eData.isnull().sum(axis=1)
eData[eData['RowMissingCount']>0]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,RowMissingCount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0,3
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,2
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0,3
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,...,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,2
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,...,2.0,400.0,220.0,2006.0,Yarra,-37.79650,144.99650,Northern Metropolitan,4019.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0,2
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0,8
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0,4
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,1
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0,2

In [13]:
percent_row_missing = eData.isnull().sum(axis=1) * 100 / len(eData.columns)-1
missing_row_value_df = pd.DataFrame({'empty rows' :eData.isnull().sum(axis=1),'percent_emptyrows': percent_row_missing})
print(missing_row_value_df)

       empty rows  percent_emptyrows
0               3          12.636364
1               2           8.090909
2               0          -1.000000
3               3          12.636364
4               0          -1.000000
...           ...                ...
23673           2           8.090909
23674           8          35.363636
23675           4          17.181818
23676           1           3.545455
23677           2           8.090909

[23678 rows x 2 columns]

In [14]:
# 9) Determine the column names having more than 30% missing values and remove them from the dataset.

percent_col_missing = eData.isnull().sum() * 100 / len(eData)
missing_col_value_df = pd.DataFrame({'column_name': eData.columns,'empty rows' :eData.isnull().sum(),
                                 'percent_emptyrows': percent_col_missing})

print(missing_col_value_df[missing_col_value_df['percent_emptyrows']>30])

               column_name  empty rows  percent_emptyrows
BuildingArea  BuildingArea       13660          57.690683
YearBuilt        YearBuilt       12138          51.262776
CouncilArea    CouncilArea        8022          33.879551

In [15]:
# 10. Determine the number and percentage of rows having more than 5 missing values. If the percentage of such
# rows is less than 20% then remove all these rows.

percent_row_missing = eData.isnull().sum(axis=1) * 100 / len(eData.columns)-1
missing_row_value_df = pd.DataFrame({'empty rows' :eData.isnull().sum(axis=1),'percent_emptyrows': percent_row_missing})
missing_5_row_value_df = missing_row_value_df[missing_row_value_df['empty rows']>5]
print(missing_5_row_value_df[missing_5_row_value_df['percent_emptyrows']<20])

Empty DataFrame
Columns: [empty rows, percent_emptyrows]
Index: []

In [16]:
# 11. Display the description of data and percentage of missing values still left column wise
eData.isnull().describe()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,RowMissingCount
count,23678,23678,23678,23678,23678,23678,23678,23678,23678,23678,...,23678,23678,23678,23678,23678,23678,23678,23678,23678,23678
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1
top,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
freq,23547,23547,23547,23547,18396,23547,23547,23547,23546,23546,...,18921,17410,13660,12138,15656,19243,19243,23546,23546,23678

In [19]:
#12. Considering the 'Price' column as target variable which is to be predicted, how will you treat the missing values?
# Give a brief explanation and treat the missing values in 'Price' column.
x=eData.drop(['Price'], axis = 1)
y=eData['Price']

In [39]:
nulldata=eData.columns[eData.isnull().any()].tolist()
len(nulldata)

21

In [40]:
nulldata

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [45]:
# handle Null data 
for i in nulldata :
    if i!='Price' : # skipping target value
        x[i]= x.apply(lambda z: x[i].fillna(x[i].value_counts().index[0]))

In [46]:
# 13. Now check the percentage of missing values in each column again, if missing values exist, treat it with the most
# suitable method
x.isnull().sum()

Suburb             0
Address            0
Rooms              0
Type               0
Method             0
SellerG            0
Date               0
Distance           0
Postcode           0
Bedroom2           0
Bathroom           0
Car                0
Landsize           0
BuildingArea       0
YearBuilt          0
CouncilArea        0
Lattitude          0
Longtitude         0
Regionname         0
Propertycount      0
RowMissingCount    0
dtype: int64

In [132]:
# 14. Now since you have completed your data cleaning, determine the number and percentage of columns removed.
 
no data has been removed

In [134]:
# 15. Determine the number and percentage of rows removed in whole process. Also comment briefly that according
# to you the amount of data lost is justified or not.
no data has been removed